@import url('https://fonts.googleapis.com/css?family=Oswald') body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

.header {
  display: flex;
  margin: 0 auto;
  /* background: rgb(86, 152, 128); */
  align-items: center;
}

.page-container {
  margin: 0 auto;
  max-width: 1200px;
}

.book-title-and-cover {
  cursor: pointer;
}

.sort-option {
  margin-bottom: 2rem;
}
.header-content {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  margin: 0;
  padding: 0.7em 0.7em;
}

.queried-books-container {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  width: 100%;
}

.search-and-filter {
  display: flex;
}

.filter-options {
  width: 300px;
}

.search-area {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
}

.form-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.input-group {
  margin-right: -10px;
}

.form-control {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.filter-subject-container {
  align-items: center;
}

.show-more-or-less {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-group-item {
  display: inline-block;
  margin-bottom: 10px;
}

/* .list-group-item:hover {
  text-decoration: underline;
  transform: scale(1.1);
} */
