@import url('https://fonts.googleapis.com/css?family=Oswald') body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.queried-books-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  align-items: center;
}

.search-area {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
}

.form-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.list-item {
  display: inline-block;
}
